
.background {

    background-color:white;
    width:auto;
    height:auto;
    display:flex;
    background:no-repeat;
}
.logo {
   
    font-size: 60px;
    padding-left:20px;
    padding-top:5px;
    text-align:left;
}

#scrollwrapper {
  position:absolute;
  height:100%;
  width:100%;


}

.panels {
  position:relative;
  height:100%;
 
  width:100%;
  z-index:1000;

  font-size:0;

}

#wrapper {

  height:100%;
  width:100%;
  font-size:0;
}

.logo {
display:none;
padding-left:auto;
width:fit-content;
height:auto;
}

nav {
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color:white;
    list-style: none;
    width:100%;
    height:80px;
    align-items: center;
    font-family:Rowdies;
    
}








nav ul {
  float:left;

  align-items: center;
  list-style:none;
  margin:0;
  padding:15px;
  padding-top:20px;
  text-align:left;
  height:auto;
  width:auto;
  top:10vh;
  left:8vw;
 
  
  
}
 nav li {
    text-align:left;
    display:inline;
    margin:0;
    padding:0;
    text-shadow:2px 4px 4px black;
    
    


 }
 nav ul a{
  text-decoration:none; 
  color:white; 
  padding: 5px 10px;
  align-items: center;
  font-size:25px;
 }

 li a:link {
  color:white;
  text-decoration: none;
 }
 li a:visited {
  color:white;
 }
  li a:hover {
    background-color: #a7a7a7;
    border-radius: 5px;
    color:white;
    text-shadow:none;
    text-decoration: none;
  }



 
  
#welcomediv {
    position:relative;
    margin-top:70%;
    font-family:Roboto;
    font-size:2.3vh;
    color:white;
    z-index:-99;
    height:fit-content;
    width:auto;
    background-color: #07152b;

}

#welcomediv p {
  padding-top:2vh;
  padding-bottom: 5px;
  text-align:center;
  font-family:rowdies;
  text-shadow:2px 4px 4px black;
  
}



#welcomediv  h1 {
  font-size:5vh;
  font-family:rowdies;
  color:white;
  z-index: 2;
  left:0;
  text-align:center;
  text-shadow:2px 4px 4px black;
  padding-top:5%;
  
  
}
#welcomediv h2 {
  display:flex;
  font-size:25rem;
  font-family:rowdies;
  color:white;
  text-shadow:2px 4px 4px black;
  padding-bottom:10rem;
}
 
#charactersdiv {

  
  
    
  display:inline-block;
  font-family:Roboto;
  font-size:20px;
  color:white;
  
  background-color:#07152b;
  height: 400px;
  width:100%;



  
}

#charactersdiv h1 {

  padding-top:10px;
  font-family:rowdies;
  color:white;
  text-shadow:2px 4px 4px black;
  font-size:5rem;
  
}

#charactersdiv p {
  padding-top:2vh;
  padding-bottom: 5px;
  text-align:center;
  font-family:Roboto;
  text-shadow:2px 4px 4px black;
  font-size:20px;
 
}

.maindiv h1 {
  padding-top:10px;
  font-family:Rowdies;
  z-index:1;

}
.titletext {
  text-align:center;
  display:inline-block;
  width:auto;
  height:fit-content;

  top:0rem;
  
}

.titletext h1{
    
 
    font-size:70px;
    padding-bottom:15px;
    color:white;
    text-shadow:2px 4px 4px black;
   
    font-family:Rowdies;
    z-index:1;

    
    
    
}

.titletext p {
  font-family: Roboto;
  font-size:25px;
  padding-top:0px;
  text-align:center;
  color:white;
  text-shadow:2px 4px 4px black;
  padding-bottom:35px;
  padding-top:0px;
}

#topcontent {
  background:#eee;
  position:fixed;
  margin:0;
  width:100%;
  top:0;
  height:100%;
  background-image:url(Plunderkrugs\ Moodboard.png);
  background-position-x:center;
  background-position-y:center;
  background-size:cover;
  z-index:-99;
  text-align: center;
  
}

h1 {
    text-align:center;
    font-size:40px;
}

* {margin:0;
  box-sizing: border-box;

}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display:flex;
	flex-wrap: wrap;
}


.search-container {


  position:absolute;
  font-size:15px;
  left:85%;
  top:25px;
  display:none;
        
}

.search input[type=text]{
  width:250px;
  height:25px;
  border-radius:25px;
  border: none;

}
.hide {
  display:none;
}


.searchlogo {
  display:none;
  padding-bottom:3px;
 
  


}

.search button {
  background-color:white;
  border-radius:50px;
  border-style:solid;
  border-color:black;
  border-width:10px;
}

#hamburger-icon { 
  display:none;
  text-align:center;
  margin:auto 0;
  cursor:pointer;
  padding-right:10px;
  padding-left: 5vw;
  padding-top:10vw;
}

#hamburger-icon div {
  width:35px;
  height:3px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;

}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu {
  display: none;
  position: absolute;
  left:20%;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}
.mobile-menu ul {
  text-align:left;
}

.mobile-menu li {
  margin:0;
  text-align:left;
  padding:0;
}




.slide-container {
  padding:1rem;
}
.slider-wrapper {
  position:relative;
  max-width:48rem;
  margin:0 auto;
}
.slider {
  display:flex;

  aspect-ratio: 16/9;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
  
}
.slider::-webkit-scrollbar {
	display: none;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  



}
.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a{
  display:center;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity ease 250ms;
  background-color:black;
  text-decoration:none;
  text-align:center;
  color:white;
}
.slider-nav a:hover {
	background-color:black;
  opacity: 1;
}
footer {
  background-color: black;
  width:auto;
  height:300px;
  position:relative;
  display:flex;

}




.section-left {
  display:block;
  float:left;
  width:48%;
  margin: 1% 1% 1% 1%;
  padding-right:10px;
}
.section-right {
  display:block;
  float:right;
  align-items:center;
  width:48%;
  text-align:center;
}
:root {
  --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --motion-duration: 0.3s;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}



button {
  appearance: none;
  background: transparent;
  border: 0;
  color: #07152b;
  cursor: pointer;
  font-family:Rowdies;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  padding-bottom: 1em;
  position: relative;
  transition: filter var(--motion-duration);
  
  border-radius:5em;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
  font-family:Rowdies;
  color:#07152b;
  font-size:25px;

}

button:hover > span {
  transform: scale(1.05);
}

button:active > span {
  transform: scale(0.95);
}

button > svg {
  fill: white;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

button > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

button:hover > svg > path {
  d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

button:active > svg > path {
  d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}

.news-section {
  display:flex;
  flex-wrap: wrap;

  background-color:grey;
  width:100%;
  height:fit-content;
  text-align: center;;
    font-family:Rowdies;
  padding:10px;
  
  box-sizing:border-box;
  min-width:0;
  
}

.news-section h4{
  font-size:40px;
  text-align:center;
  text-shadow:2px 4px 4px black;
  color:white;
}
.news-section p{
  font-family:Roboto;
  font-size:15px;
  text-align:center;
  color:white;
  text-shadow:2px 4px 4px black;
  padding:5px;

}

#news-title {
  font-family:Rowdies;
  color:white;
  font-size:80px;
  text-shadow:2px 4px 4px black;
  padding:10px;
  text-align:center;
  height:100%;
  width:100%;
}
.news-cards {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, minmax(min(200px,100%), 1fr));
  grid-auto-rows:auto;
  grid-gap:1em;
  align-items: center;
}



.news-card-left {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:95%;
  border-radius:10px;
}
.news-card-middle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:95%;
  border-radius:10px;
}
.news-card-right {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:95%;
  border-radius:10px;
}

.news-card-left:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.news-card-middle:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.news-card-right:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.news-card-container {
  padding: 2px 16px;
}

.left-footer {
  height:auto;
  float:left;
  display:block;
  text-align: center;
  width:auto;
  display:flex;
  

}

.left-footer ul {
  list-style:none;
}
.left-footer h1{
  position:absolute;
  left: 16%;
  text-align:center;
  font-family:rowdies;
  color:white;
  top:7%;
  
}
.social-card-1 {
  border-radius:8px;
  font-size:17px;
  width:270px;
  height:55px;
  background-color:white;
  color:black;
  font-family:rowdies;
  text-align:center;
  margin:5px;
  
}

.social-card-wrapper {
  top:25%;
  position:absolute;
  left:12%;
  display:block;

}

.social-card-1:hover {
  color: black;
  box-shadow: 0 5px 15px rgba(195, 195, 195, 0.7);
}

.vl {
  border-left: 6px solid white;
  border-radius:2px;
  height:300px;
  position:absolute;
  left:50%;
  margin-left:-3px;
  top:1px;
}

.right-footer {
  display:block;
  float:right;
  align-items:center;
  width:48%;
  text-align:center;
}

.right-footer h1 {
  position:absolute;
  right: 12%;
  text-align:center;
  font-family:rowdies;
  color:white;
  top:7%;
  font-size:50px;
}
.right-footer ul li {
 
  display:inline;
  padding:5px;
 
}
.right-footer ul {
  top:35%;
 
  right:11%;
  position:absolute;
  align-items: center;
  list-style:none;

  padding:15px;
  padding-top:20px;
  text-align:left;
  height:auto;
  width:auto;
  font-family:rowdies;
  font-size:20px;

}
.right-footer li a:link {
  color:black;
  text-decoration: none;
 }
 .right-footer li a:visited {
  color:black;
 }
 .right-footer ul a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  align-items: center;
  background-color:white;
  border-radius:5px;


}
  .right-footer li :hover {
    color: black;
  box-shadow: 0 5px 15px rgba(195, 195, 195, 0.7);
    border-radius: 5px;
    color:black;
    text-shadow:none;
    text-decoration: none;
  }

  .gallery-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
  }

  .gallery-container .heading {
    width:40%;

  }
  .gallery-container .heading h3{
    font-family:rowdies;
    font-size:5em;
    border-bottom:6px solid black;
    color:white;
    text-shadow:2px 4px 4px black;
    border-radius: 5px;;
    text-align:center;
  }

  .gallery-body {
    margin:0;
    box-sizing: border-box;
    background-color: #07152b;
  }

  .gallery-container .gallery-box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
   
  }

  .gallery-container .gallery-box .gallery-dream {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:10px;

  }
  .gallery-container .gallery-box .gallery-dream img{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height:auto;
    cursor:pointer;
    opacity: 50%;
    border-radius:5px;
    padding:5px;

  }
  .gallery-container .gallery-box .gallery-dream img:hover {
 
    opacity: 100%;
            transition:1s;
    
  }

  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display:none;

  }

  #lightbox.active {  
    display:flex;
    justify-content: center;
    align-items: center;

  }
  #lightbox img {
    height:500px;
    width:650px;
    padding: 4px;

  }

  .mobile-footer {
    display:none;
    height:auto;
    width:auto;

  }




  @media only screen and (max-width: 769px) {
    .nav-links li {
      display: none;
    }
  .logo {
    padding-right:10px;
    padding-left:0;
  }
  .titletext {
    display:none;
  }
  
    #hamburger-icon {
      position:absolute;
      display:block;
    }
    .titletext h1 {
      font-size:5vh;
    }
    nav ul li {
      display:none;
    }
    .logo {
      display:none;
    }
    .right-footer ul{
      display:none
    }
    .right-footer h1 {
      display:none;
    }
    .right-footer {
      display:none;
    }
    .left-footer {
      display:none;
    }
    .vl {
      display:none;
    }
   body {
    width:auto;
   }
   .news-cards {
    flex-shrink:1;
   }
   .gallery-container .gallery-box {
   
    flex-direction: column;
   
  }
  .gallery-container .gallery-box .gallery-dream {
   
    width:100%
  
  }
  .gallery-container .heading {
    width:60%;
  }
  .gallery-container .heading h3{
    font-size:2em;
  }
  .gallery-container .gallery-box .gallery-dream img{
    opacity:100%;
  }
  #lightbox img {
    scale:.65;
  }
  
  footer {
    display:none;
  }
  .mobile-footer {
    display:flex;
    width:auto;
    height:300px;
  }

  
    
  }